<a href="https://colab.research.google.com/github/Christianah-O/Python-Practice/blob/main/Onphonepractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'Christianah'
age = 23
print(name, age)

Christianah 23

In [ ]:
num1 = num2 = num3 = 500
num1

500

In [ ]:
g, h, t = 300, 560, 1800
g

300

In [ ]:
my_class = 'Python class'
print('I love my first', my_class)

I love my first Python class

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
print(name, age, sep= ' - ')
##sep function worked  here too

Christianah - 23

In [ ]:
print(name, age, '\n')
print(my_class)

Christianah 23

Python class

In [ ]:
first_name = 'Christianah'
last_name = 'Onalaja'
print('Hello!', first_name + last_name)
## to add a space
print('Hello!', first_name + ' ' + last_name)

Hello! ChristianahOnalaja
Hello! Christianah Onalaja

In [ ]:
## concatenation works only with string
print('I am', age) #will be I am 23.
##probably you need to add string to your age, which is a number and you concatenate, it will give error
##print('I am', age + 'years old') #is not possible, instead
#convert age to str
j = str(age)
print('I am', j + 'years old')
##or
print('I am', str(age)+ 'years old')

I am 23
I am 23years old
I am 23years old

In [ ]:
#using format
her_name = 'Omotola'
sentence = 'I want to be a besense pad influencer.'
print('In her wish, {} wrote, {}'.format(her_name, sentence))

In her wish, Omotola wrote, I want to be a besense pad influencer.

In [ ]:
#using F-string
print(f'In her wish, {her_name} wrote, {sentence}')

In her wish, Omotola wrote, I want to be a besense pad influencer.

In [ ]:
#newline
print('Hello! \nWorld')

Hello!
World

In [ ]:
#tab
print('Item \t Price')
print('Apple \t $8')

Item 	 Price
Apple 	 $8

In [ ]:
#quote inside string
print('I\'m a boy') #instead of dou quote
print('She\'s so pretty')

I'm a boy
She's so pretty

In [ ]:
#printing backlash
print("file: \\videos \\sent \\import")

file: \videos \sent \import

In [ ]:
#numric data types
#integer_ (int)_(+-)
#float(.)
#complex(1+2j)
s = type(6)
m = type(34.7)
u = type(8+4j)
print(s)
print(m)
print(u)

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#floor division_ whole part of decimal number
k = 10//3
v = 29//4
print(k)
print(v)

3
7

In [ ]:
#modulus_remainder
per = 64%7
unit = 56%3
print(per)
print(unit)

1
2

In [ ]:
#exponential
r = 5**7
m = 8**8
print(r)
print(m)

78125
16777216

In [ ]:
#built in numeric function
#abs(num)- to change (-) to (+)
num = -678
digit = -43
l = abs(num)
q = abs(digit)
print(l)
print(q)

678
43

In [ ]:
#round X to N decimal
G = round(3.2345, 2) #(X_ 3.2345, N_2)
Z = round(73.82646,4)
print(G)
print(Z)

3.23
73.8265

In [ ]:
#power computes num raised to the power of another num
dd = pow(4,2)
hu = pow(4,6)
print(dd)
print(hu)

16
4096

In [ ]:
#max(returns the largest values & #min(returns the loweost)
high_rate = max(60,75,25,876,345,236,875,982)
low_rate = min(56,27,1085,466,18,89,552)
print(high_rate)
print(low_rate)

982
18

In [ ]:
#coversion between numbers
#int(x) will change value x to integer
#float(x) will change value x to float
#complex(x,y) will convert to complex
whole_num = int(67.98)
deci = float(74)
exp = complex(7,2)
print(whole_num)
print(deci)
print(exp)

67
74.0
(7+2j)

In [ ]:
#string- enclosed in single or double pr tripple quote(',",'''")
#string are immutable- can't be changed after creation
remark = 'she is very smart'
type(remark) #tell us what data type remark is

str

In [ ]:
#string indexing and slicing
#each character or word in a string has an index starting from O
#negative index count from the end (-1) is the last character
#word = J o y f u l
      # 0 1 2 3 4 5
    #  -6 -5 -4 -3 -2 -1
#accessing- when accessing use square bracket []
word = 'Joyful'
S = word[3]
R = word[-5]
A = word[1]
T = word[-2]
print(S)
print(R)
print(A)
print(T)

f
o
o
u

In [ ]:
#string case converting
#word = Joyful
word.lower() #to lower_case

'joyful'

In [ ]:
word.upper() #to upper_case

'JOYFUL'

In [ ]:
#string strip- remove excess space.
aline = ' working hard and being consistent has an end result.  like wise being lazy and in consistent'
print(aline)

 working hard and being consistent has an end result.  like wise being lazy and in consistent

In [ ]:
#aline string have so much space to remove.
remove_space =aline.strip() #remove first and last space
print(remove_space)
#to capitalize( make the first letter upper)
cap = remove_space.capitalize()
print(cap)

working hard and being consistent has an end result.  like wise being lazy and in consistent
Working hard and being consistent has an end result.  like wise being lazy and in consistent

In [ ]:
#removing left and right space
ccc = ' You have to keep pushing, it will worth it at the end  ' # has spaces on both side
r_space = ccc.rstrip() #remove right space
l_space = ccc.lstrip() #remove left space
print(r_space)
print(l_space)

 You have to keep pushing, it will worth it at the end
You have to keep pushing, it will worth it at the end

In [ ]:
#string repitition- use (*) to repeat string
me = name * 3
print(me)
#to add space
#name is stored
print((name + ' ')* 3) #plus space times 3
school_name = 'FUNAAB'
c_school = school_name * 3
print(c_school)
#space
print((school_name + ' ')* 3)

ChristianahChristianahChristianah
Christianah Christianah Christianah
FUNAABFUNAABFUNAAB
FUNAAB FUNAAB FUNAAB

In [ ]:
##replacing strings
fav_fruit = ' I love Pineapple'
print(fav_fruit)
#to replace in string
new_frt = fav_fruit.replace('Pineapple', 'Mango')
print(new_frt)
new_word = fav_fruit.replace('love','like')
print(new_word)

 I love Pineapple
 I love Mango
 I like Pineapple

In [ ]:
#splitting & joining strings
wrds_split = fav_fruit.split()
print(wrds_split)
#to join
wrds_join = '-'.join(wrds_split)
print(wrds_join)

['I', 'love', 'Pineapple']
I-love-Pineapple

In [ ]:
#finding and counting substrings
lines = 'Python programming is cool'
eg = lines.find('cool') #out the index of cool
print(eg)
eeg = lines.find('program')
print(eeg)
#to count- find how many times a particular letter exist
exx = lines.count('m') #2m
print(exx)
evv = lines.count('o') #4o
print(evv)

22
7
2
4

In [ ]:
#checking string properties
#lines is defined
dc = lines.isdigit() #tell us if it is a digit or not
print(dc)
fg = '1225' #put as a string
dh =fg.isdigit()
print(dh)
mixed = 'Jashar15' #everything isn't digit
ch = mixed.isdigit()
print(ch)

False
True
False

List

In [ ]:
#list is defined using square brackets []
#can store different data types
foods = ['rice', 'beans', 'yam', 'plantain']
#to access list
to_ac = foods[2]
print(to_ac)
#remeber index starting from o and negative index from (-1)
to_acc = foods[-3]
print(to_acc)

yam
beans

In [ ]:
#list slicing- returns a sublist from one index to the next index
sli = foods[1: 3] #the last one is exclusive
print(sli)
SLI = foods[0: 4]
print(SLI)
Ed = foods[0:]#all to end
print(Ed)
Ng = foods[2: -1]
print(Ng)

['beans', 'yam']
['rice', 'beans', 'yam', 'plantain']
['rice', 'beans', 'yam', 'plantain']
['yam']

In [ ]:
#skipping
skp= foods[::2]
print(skp)
skkp = foods[::-1] #reverse a list
print(skkp)
needs = ['serum', 'data', 'fare', 'journal', 'pen', 'water', 'clothes']
nds = needs[::2]
print(nds)
ndds = needs[::3]
print(ndds)

['rice', 'yam']
['plantain', 'yam', 'beans', 'rice']
['serum', 'fare', 'pen', 'clothes']
['serum', 'journal', 'clothes']

In [ ]:
#modifying elements/values in list
md = foods[2] = 'chicken'
print(md)
mdd = needs[-4] = 'phone'
print(mdd)
print(foods)
print(needs)

chicken
phone
['rice', 'beans', 'chicken', 'plantain']
['serum', 'data', 'fare', 'phone', 'pen', 'water', 'clothes']

In [ ]:
#adding elements
#append(item) add item to the end
foods.append('pancakes')
print(foods)

['rice', 'beans', 'chicken', 'plantain', 'pancakes']

In [ ]:
#insert(index, item) add item before index
foods.insert(3,'egg')
print(foods)
needs.insert(5, 'shoes')
print(needs)

['rice', 'beans', 'chicken', 'egg', 'plantain', 'pancakes']
['serum', 'data', 'fare', 'phone', 'pen', 'shoes', 'water', 'clothes']

In [ ]:
#extend(create a new list and add to existing to give new list)
foods_2 = ['bread', 'Semo', 'pasta']
foods.extend(foods_2)
print(foods)

['rice', 'beans', 'chicken', 'egg', 'plantain', 'pancakes', 'bread', 'Semo', 'pasta']

In [ ]:
#removing elements in list
#remove(item) first occurrence of item or only
foods.remove('egg')
print(foods)

['rice', 'beans', 'chicken', 'plantain', 'pancakes', 'bread', 'Semo', 'pasta']

In [ ]:
#pop(index) remove the last item as default if index is not input
needs.pop()
print(needs)
needs.pop(2)
print(needs)

['serum', 'data', 'fare', 'phone', 'pen', 'shoes']
['serum', 'data', 'phone', 'pen', 'shoes']

In [ ]:
#del(index)
del foods_2[2:]
print(foods_2)

['bread', 'Semo']

In [ ]:
#del all
del foods_2

In [ ]:
#clear- all items removed but variable still intact
needs.clear()

In [ ]:
needs

[]

Tuple

In [ ]:
#tuple is immutable(cannot be modified after creation)
#use () not [] like list
#can hold different data types
#to access
country = ('Nigeria', 'Ghana', 'Mali', 'Angola')
country[2]

'Mali'

In [ ]:
#you can't modify directly like list
#country[2] = 'Kenya' is not possible
#to modify tuple, change to list and back to tuple
f = list(country) #change to list
f.append('Kenya') #add to list
#then back to tuple
country =tuple(f)
print(country)

('Nigeria', 'Ghana', 'Mali', 'Angola', 'Kenya', 'Kenya')

List Comprehension

In [ ]:
#practice assignment
#make all foods capitalized using list comprehension
#foods is defined
upper_foods = [food.upper()for food in foods]
print(upper_foods)
cap_foods = [food.capitalize()for food in foods]
print(cap_foods)

['RICE', 'BEANS', 'CHICKEN', 'PLANTAIN', 'PANCAKES', 'BREAD', 'SEMO', 'PASTA']
['Rice', 'Beans', 'Chicken', 'Plantain', 'Pancakes', 'Bread', 'Semo', 'Pasta']

In [ ]:
#assignment- list a number 1 to 30 and find the even and square of even using list comprehe
numbs = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
even_numbs = [number for number in numbs if number % 2 == 0]
print(even_numbs)
square = [numb ** 2 for numb in even_numbs]
print(square)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

In [ ]:
print(5 ** 2 // 3 % 4)

0

In [ ]:
#count in tuples
kids_age = (4, 7, 6, 8, 9, 5, 4, 6, 6, 8, 8,5)
kids_age.count(6)

3

In [ ]:
kids_age.index(8) #find first occurrence of an element

3

In [ ]:
#tuple packing- storing multiple values in a single tuple
career = ('doctor', 'engineer', 'lawyer')
#tuple unpacking- extract values from a tuple into separate variables
e, p, w = career
print(e)
print(w)
print(p)

doctor
lawyer
engineer

Set

In [ ]:
#sets uses {} and it is mutable
#sets removduplicate from the values
#in operator, is faster than list
college = {'Funaab', 'Oau', 'Ui', 'Unilag', 'Ui'}
#set will remove ui cause it appears more than once
print(college)

{'Oau', 'Funaab', 'Ui', 'Unilag'}

In [ ]:
#to convert list to set
alst = ['Day', 'Weeks', 'Months', 'Year']
#that is a list above
yy = set(alst) # convert list to set
print(yy)

{'Weeks', 'Months', 'Day', 'Year'}

In [ ]:
#adding elements in set
#use add function in a set
college.add('Unilorin')
print(college)

{'Oau', 'Unilorin', 'Funaab', 'Unilag', 'Ui'}

In [ ]:
#removing
college.remove('Ui')
print(college)

{'Oau', 'Unilorin', 'Funaab', 'Unilag'}

In [ ]:
#if you try remove function for an element not present in a set, it will give error
#yy.remove('birth')- error because birth is not available
#but discard function won't give error but only discard the information
yy.discard('birth')

In [ ]:
#pop function- remove last element
yy.pop()
print(yy)

{'Months', 'Day', 'Year'}

Dictionaries

In [ ]:
#dict uses {} as set
student = {'Name': 'Hauwa', 'Age': 24, 'GPA': 4.5}
print(student)

{'Name': 'Hauwa', 'Age': 24, 'GPA': 4.5}

In [ ]:
#keys func returns a list-like object of all keys
student.keys()

dict_keys(['Name', 'Age', 'GPA'])

In [ ]:
#values returns a list-like object of all values
student.values()

dict_values(['Hauwa', 24, 4.5])

In [ ]:
#items returns all key-value pairs as tuples
student.items()

dict_items([('Name', 'Hauwa'), ('Age', 24), ('GPA', 4.5)])

In [ ]:
students = {'Names': ['Fola', 'Donney', 'Mavis'],
            'Age':[23, 26, 24],
            'GPA':[4.3, 4.6, 5.0]}
print(students)

{'Names': ['Fola', 'Donney', 'Mavis'], 'Age': [23, 26, 24], 'GPA': [4.3, 4.6, 5.0]}

Conditional Statement

In [ ]:
#if statement
#if condition : statement 1
              # statement 2
#conditions can be value, variable or expression.
#if the condition is true, the if block is executed.
agee = 20
if agee >= 18:
  print('you are eligible to vote')

you are eligible to vote

In [ ]:
#another
noon_class = 'Fpy 477'
if noon_class == 'Fpy 477':
  print('you are in the right class')

you are in the right class

In [ ]:
#else statement false output
mid_class = 'GH11'
if mid_class == 'WMA':
  print('you are in the right class')
else:
  print('you are in the wrong class')

you are in the wrong class

In [ ]:
#check if value is odd or even
the_value = 18
if the_value % 2 == 0:
  print(f'The value, {the_value} is even')
else:
  print(f'The valu, {the_value} is odd')

The value, 18 is even

In [ ]:
#
vv = 23
if vv % 2 == 0:
  print('it is even')
else:
  print('it is odd')

it is odd

In [ ]:
#checking user_input
my_score = input('What is your math score?')
#userinput don't work on mobile

In [ ]:
#elif dealing with more than 2 conditions
my_score = 78.9
if my_score >= 80:
  print('Grade A, promoted')
elif my_score >= 70:
  print('Grace B, you can do better')
else:
  print('Grade F, repeated')

Grace B, you can do better

In [ ]:
#traffic light testing
#i'm to use input func but not available for now
scolor = 'red'
if scolor == 'green':
  print('Go')
elif scolor == 'yellow':
  print('Ready')
elif scolor == 'red':
  print('Stop')
else:
  print('Sleep')

Stop

In [ ]:
#I want to try a citizenhip and age voting eligibility
#but userinput not working here, till we have a laptop.

In [ ]:
#pass statement
#if statement can't be empty
numm = 25
if numm > 40: #no error, just won't return anything
  pass

Python Loops

In [ ]:
#confusing at first.hahaha
#python has two primitive loop commands
#while loops and #for loops
#note:remembeer to increment or decrement.
#exercise- put a number 1 to 10
count = 1
while count <= 10:
  print(f'counting my candy : {count}')
  count = count + 1

counting my candy : 1
counting my candy : 2
counting my candy : 3
counting my candy : 4
counting my candy : 5
counting my candy : 6
counting my candy : 7
counting my candy : 8
counting my candy : 9
counting my candy : 10

In [ ]:
#square of numbers
num = 0
while num <= 10:
  print(f'square of {num} = {num ** 2}')
  num = num + 1

square of 0 = 0
square of 1 = 1
square of 2 = 4
square of 3 = 9
square of 4 = 16
square of 5 = 25
square of 6 = 36
square of 7 = 49
square of 8 = 64
square of 9 = 81
square of 10 = 100

In [ ]:
#factorial of number
num = 4
result = 1 #initialize
while num >= 1:
  result = result * num
  num = num - 1
  print(result)

4
12
24
24

In [ ]:
num = 5
result = 1
while num >= 1:
  result = result * num
  num = num - 1
  print(result)

4
3
2
1
0

In [ ]:
#a right angle triangle
line = '*'
max_length = 10
while len(line) <= 10:
  print(line)
  line = line + '*'
while len(line) > 0:
  print(line)
  line = line[: -1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
line = '*'
max_length = 6
while len(line) <= 6:
  print(line)
  line = line + '*'
while len(line) > 0:
  print(line)
  line = line[: -1]

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [ ]:
line = '*'
max_length = 11
while len(line) <= 11:
  print(line)
  line = line + '**'
while len(line) > 0:
  print(line)
  line = line[: -2]

*
***
*****
*******
*********
***********
*************
***********
*********
*******
*****
***
*

In [ ]:
len('python is my new language.')

26

In [ ]:
10%3

1

In [ ]:
15//4

3

In [ ]:
'abc'.split()

['abc']

In [ ]:
print(not True)

False

In [ ]:
2 ** 3 ** 2

512

In [ ]:
print(0.1 + 0.2 == 0.3)

False

In [ ]:
1 < 2 < 3

True

In [ ]:
print('py' + 'thon')
print(3 * 'ab')

python
ababab

In [ ]:
print(5 if False else(3 if True else 4))

3

In [ ]:
'hello'[1]

'e'

In [ ]:
print(5 ** 2 // 3 % 4)

0

In [ ]:
x = 10
if x > 5 and x < 15:
  print('In range')

In range

In [ ]:
for i in range(3):
  for j in range(2):
    print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
x = [1, 2, 3]
x.append(4)
print(x)

[1, 2, 3, 4]

In [ ]:
y = 2
if y != 2:
  print('two')
else:
  print('not two')

not two

In [ ]:
numbers = [3, 7, 11, 15, 19]
result = 0
for num in numbers:
  if num % 3 == 0:
    result += num
  elif num % 5 == 0:
    break
    print(result)

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  else:
    print(i, end='')

1234

In [ ]:
arr = [1, 2, 3, 4, 5]
new = [x for x in arr if x% 2!= 1]
print(new)

[2, 4]

In [ ]:
print('Hello'[0])

H

In [ ]:
print(0.1 + 0.2 == 0.3)

False

In [ ]:
i = 1
while i <= 10:
  print(i)
  if i == 7:
    print('I\'m Okay here')
    break
  i += 1

1
2
3
4
5
6
7
I'm Okay here

In [ ]:
#for loops- iterate till the end and stops
day = 'MONDAY'
for char in day:
  print(char)

M
O
N
D
A
Y

In [ ]:
#multiplication table
table = 3
for i in range(1,13): #in rangle, the last is excludive
    print(f'{table} * {i} = {table * i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

In [ ]:
#iterating using enumerate
weekdays = ['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']
for index, day in enumerate(weekdays):
  print(index, day)

0 Mon
1 Tue
2 Wed
3 Thur
4 Fri
5 Sat
6 Sun

In [ ]:
#incase not starting with index 0
for index, day in enumerate(weekdays, start = 1):
  print(index, day)

1 Mon
2 Tue
3 Wed
4 Thur
5 Fri
6 Sat
7 Sun

Functions

In [ ]:
#function is a reusable block of code that performs specific task
#syntax of building a function
def greet():
  print('Hello World') #anywhere greet is called, it will be Hello World

In [ ]:
greet()

Hello World

In [ ]:
# a function to sum two numbers
def add(a,b):
  print(a + b)

In [ ]:
add(22,56)

78

In [ ]:
def power(num, exponent):
  return num ** exponent

In [ ]:
power(5,4)

625

In [ ]:
def describe_car(make, model, year= 2025):
  print(f'This is {year} {make} {model}')

In [ ]:
describe_car('Toyota', 'Camry')

This is 2025 Toyota Camry

In [ ]:
#you can change the default
describe_car('Toyota', 'Camry', year= 2002)

This is 2002 Toyota Camry

In [ ]:
# *args handles many positional argument
def total(*numbers):
  return sum(numbers)

In [ ]:
total(3, 6, 8, 9, 12,)

38

In [ ]:
total(5,3)

8